{
  "hooks": {
    "pre-commit": "pnpm run husky:pre-commit",
    "commit-msg": "pnpm run husky:commit-msg",
    "postcommit": "pnpm run husky:postcommit",
    "post-rewrite": "pnpm run husky:post-rewrite"
  }
}